pydantic
pyyaml
openai
langchain
faiss-cpu                
python-dotenv
loguru
pytest

beautifulsoup4
requests
PyMuPDF
PyYAML
playwright

transformers 
datasets 
peft 
bitsandbytes 
accelerate 
wandb
evaluate
nltk 
absl 
rouge_score
